body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.uno {
    text-align: center;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.todo {
    background-color: rgba(0, 60, 255, 0.603);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.dos {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.parrafo{
    padding-top: 50px;
}

.tres {
    text-align: center;
    border-top: 2px double gray; 
    border-bottom: 2px double gray;
    padding-top: 25px;
    padding-bottom: 25px;
}

.green {
    background-color: green;
}

.gray {
    background-color: gray;
}

.input {
    width: 35px;
    text-decoration: underline;
    border-bottom: 1px solid #000; /* Color del subrayado */
    display: inline;
}

.input1 {
    width: 35px;
    text-decoration: underline;
    border-bottom: 1px solid #000; /* Color del subrayado */
    display: inline;
}

.letras {
    text-align: center;
    margin: 150px;
}

span {
    border-bottom: 1px solid #000; /* Color del subrayado */
    display: inline;
  }
  
.inline {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.inline input {
    display: inline-block;
    vertical-align: middle;
}

.inline #button {
    display: inline-block;
    vertical-align: middle;
}

h2 span {
    vertical-align: middle;
}
