<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desaparece Chucky</title>
    <link rel="stylesheet" href="style1.css">
    <script type="text/javascript" src="/script1.js"></script>
</head>
<body>
    <div class="foto">
         <img id="transparencia" src="chucky.jpeg" alt="desaparece">    
    </div> 
    </body>
</html>