<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desaparece Chucky</title>
</head>
<body>
    <img id="transparencia" src="chucky.jpeg" alt="desaparece">
</body>
</html>